<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SiteBoneJs</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<script type="text/template" id="persond">
<%=name %> <br><%= age %> <br> <%= job %> <br> <%= color %>
</script>
	<script type="text/javascript" src="js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="js/underscore.js"></script>
	<script type="text/javascript" src="js/backbone.js"></script>
	<script type="text/javascript" src="js/main7.js"></script>
	<!--script type="text/javascript" src="js/main7.js"></script-->
</body>
</html>